<p style = "text-align:center;"><img src ="./assets/img/happyBurger.png" height = "200px" width="240px" alt="MyHappyBurgerGuy"> </p>
<h1 style = "text-align:center;">Mike's Happy Burgers!</h1>
<h2>Burgers that are not devoured!</h2>
<ul>
  {{#each burger}}
  <!-- If not devoured put burger in this form section -->
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">EAT'N TIME!</button>
        </form>

      </li>
    {{/unless}}
  {{/each}}
</ul>
<!-- If have been devoured put burger in this form section -->
<h2>Burgers that are devoured!</h2>
<ul>
  {{#each burger}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit">PUKE!</button>
        </form>
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>
  <button type="submit">Add burger</button>
</form>
